<mat-sidenav-container class="w-100">
    <mat-sidenav #sidenav mode="over" class="vh-100" style="width: 350px">
        <app-student-form *ngIf="selectedStudent" [student]="selectedStudent" [mode]="mode"
            (editStudent)="handleEditStudent($event); sidenav.close()"
            (addStudent)="handleAddStudent($event); sidenav.close()">
        </app-student-form>
    </mat-sidenav>

    <mat-sidenav-content class="p-3">
        <h3 [innerText]="title"></h3>
        <div class="d-flex justify-content-end mb-3">
            <button type="button" mat-stroked-button (click)="addStudent(); sidenav.open()">AGGIUNGI STUDENTE</button>
        </div>

        <div class="card">
            <app-students *ngFor="let st of student; let odd = odd; let even = even" [student]="st"
                [bgColor]="odd ? 'slategrey' : 'teal'" (editStudent)="editStudent(st); sidenav.open()"></app-students>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>